{% extends 'base.html' %}
{% load static %}

{% block content %}


  
<div class="s">
    <img class="img-responsive" src="{% static 'images/hy2.jpg' %}" alt="Text" style="width:100%;height:600px;filter:brightness(70%)">
    <div class="centered" ><h1 style="font-size:100px;color:white;">Bangalore</h1></div> 
</div>


<div class="container-fluid m-0 pb-4" style="margin:20px;font-family: serif; background-color: #8EE4AF;" >
  <h1 Class="text-center" style="padding-bottom:20px ; color:white;font-size:80px ">Top attractions in bangalore</h1>
    <div class="row">
		<div class="col-md-3">
			<div class="img-thumbnail">
            <a href="#">
              <img src="{% static 'images/bang1.jpg' %}" alt="Lights" style="width:100%;height:200px">
            </a>
			<h3 class="text-center" style="color:navy"><b>Lal Bagh</b></h3>
            <p>Lalbagh is an old botanical garden in Bengaluru, India....&nbsp<a href="https://en.wikipedia.org/wiki/Lal_Bagh">Learn more</a></p>
			<a href="{% url 'travelapp:Booking'  %}" class="btn btn-danger" style="float:left">Book Now</a>
            <h3 style="float:right"><i class="fa fa-inr"></i> 1500</h3></br></br>
		    </div>
		</div>	
		<div class="col-md-3">
			<div class="img-thumbnail">
            <a href="#">
              <img src="{% static 'images/bang2.jpg' %}" alt="Lights" style="width:100%;height:200px">
            </a>
			<h4 class="text-center" style="color:navy"><b>BANGALORE PALACE</b></h4>
            <p>Bangalore Palace is a royal palace located in Bangalore, Karnataka, India....&nbsp<a href="https://en.wikipedia.org/wiki/Bangalore_Palace">Learn more</a></p>
            <a href="{% url 'travelapp:Booking'  %}" class="btn btn-danger" style="float:left">Book Now</a>
            <h3 style="float:right"><i class="fa fa-inr"></i> 1200</h3></br></br>
		    </div>
		</div>
		<div class="col-md-3">
			<div class="img-thumbnail">
            <a href="#">
              <img src="{% static 'images/bang3.jpg' %}" alt="Lights" style="width:100%;height:200px">
            </a>
			<h3 class="text-center" style="color:navy"><b>CUBBON PARK</b></h3>
            <p>Cubbon Park is a nature's retreat in the centre of Bangalore ....&nbsp<a href="https://en.wikipedia.org/wiki/Cubbon_Park">Learn more</a></p>
            <a href="{% url 'travelapp:Booking'  %}" class="btn btn-danger" style="float:left">Book Now</a>
            <h3 style="float:right"><i class="fa fa-inr"></i> 1500</h3></br></br>
		    </div>
		</div>
		<div class="col-md-3">
			<div class="img-thumbnail">
            <a href="#">
              <img src="{% static 'images/bang4.jpg' %}" alt="Lights" style="width:100%;height:200px">
            </a>
			<h3 class="text-center" style="color:navy"><b>VITM(museum)</b></h3>
            <p> An NCSM established in memory of Bharat Ratna Sir M. Visvesvaraya...&nbsp<a href="https://en.wikipedia.org/wiki/Visvesvaraya_Industrial_and_Technological_Museum">Learn more</a></p>
            <a href="{% url 'travelapp:Booking'  %}" class="btn btn-danger" style="float:left">Book Now</a>
            <h3 style="float:right"><i class="fa fa-inr"></i> 1000</h3></br></br>
		    </div>
		</div>
    </div></br></br>
</div>





{% endblock content %}
